.about__container {
    display: block;
    /*grid-template-columns: 35% 50%;
    gap: 15px;*/
    font-size: smaller;
    font-weight: 400;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 600px) {
    .about__container {
        
    }
}